@{
    ViewData["Title"] = "Sample";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>@ViewData["Length"]</p>

<textarea cols="120" rows="20">@ViewData["XML"]</textarea>
<img class="qrcode" src="@ViewData["IMAGE"]"/>
